morado_oscuro_4 = #4a148c
morado_profundo = #673ab7
morado_oscuro_profundo_3 = #4527a0
teal_claro_2 = #4db6ac
rojo_oscuro_2 = #d32f2f
azul_iconos = #175C86

div.contenedor
  border 1px dashed red

  /* Estilos parte superior */
  header
    background rojo_oscuro_2
    font-family: 'Boogaloo', cursive;

    &>div
      /*border 1px dotted blue*/
      color white
      h2
        font-size 5em
      h5
        font-size 2em

    div.avatar
      text-align center

      img
        border-radius 50%


  /* Estilos sección de perfíl */
  div.boxPerfil
    font-family: 'Oswald', sans-serif;
    font-size 1.3em
    padding-bottom 2%
    padding-top 2%

    &>h5
      text-align center

    #test1,#test2,#test3
        color rgba(0,0,0, .7);

    div#test1
      span.iconIngeniero
        color azul_iconos
        &:before
          content "\e902"
          font-family 'fuente1'
          font-size 14em

    div#test2
      span.iconDev
        color azul_iconos
        &:before
          content "\e901"
          font-family 'fuente1'
          font-size 14em

    div#test3
      span.iconEmprendedor
        color azul_iconos
        &:before
          content "\e905"
          font-family 'fuente1'
          font-size 14em

  div.row
    /*border 1px dotted blue*/

    div.col
      /*border 1px solid violet*/
      text-align center

@media (max-width: 600px){
  header{
    padding-top 2%
  }

  header>div{
    text-align:center;
  }
}

@media (min-width: 993px){
  header{
    padding-bottom:16%;
    padding-top:16%;
  }

}
